/* Importar fuentes */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Nunito:wght@400;700&display=swap");

/* 2. Importar Tailwind y theme */
@import "tailwindcss";
@import "./theme.css";
